<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Quora</title>
    <link rel="stylesheet" href="/public/style.css" />
</head>
<body>
    <h1 class="title">Quora</h1>
    <div class = "post">
        <p>Discover varity of pepople with different opinion.</p>
        <p>share your opinion</p>
        <p>Join now , we are waiting to see what's your view.</p>
        <a href="http://localhost:8080/posts"><button>start</button></a>
    </div>
</body>
</html>